@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
  -moz-box-ordinal-group: $val;     
  -ms-flex-order: $val;     
  -webkit-order: $val;  
  order: $val;
}

.wrapper {
  @include flexbox();
}

.item {
  @include flex(1 200px);
  @include order(2);
}

@media all and (max-width: 767px){
    .col-xs-1:nth-child(12n+1){clear:left;}
    .col-xs-2:nth-child(6n+1){clear:left;}
    .col-xs-3:nth-child(4n+1){clear:left;}
    .col-xs-4:nth-child(3n+1){clear:left;}
    .col-xs-6:nth-child(2n+1){clear:left;}
}

@media all and (min-width: 768px){
    .col-sm-1:nth-child(12n+1){clear:left;}
    .col-sm-2:nth-child(6n+1){clear:left;}
    .col-sm-3:nth-child(4n+1){clear:left;}
    .col-sm-4:nth-child(3n+1){clear:left;}
    .col-sm-6:nth-child(2n+1){clear:left;}
}

@media all and (min-width: 992px){
    .col-sm-1:nth-child(12n+1){clear:none;}
    .col-sm-2:nth-child(6n+1){clear:none;}
    .col-sm-3:nth-child(4n+1){clear:none;}
    .col-sm-4:nth-child(3n+1){clear:none;}
    .col-sm-6:nth-child(2n+1){clear:none;}
    
    .col-md-1:nth-child(12n+1){clear:left;}
    .col-md-2:nth-child(6n+1){clear:left;}
    .col-md-3:nth-child(4n+1){clear:left;}
    .col-md-4:nth-child(3n+1){clear:left;}
    .col-md-6:nth-child(2n+1){clear:left;}
}

@media all and (min-width: 1200px){
    
    .col-md-1:nth-child(12n+1){clear:none;}
    .col-md-2:nth-child(6n+1){clear:none;}
    .col-md-3:nth-child(4n+1){clear:none;}
    .col-md-4:nth-child(3n+1){clear:none;}
    .col-md-6:nth-child(2n+1){clear:none;}
    
    .col-lg-1:nth-child(12n+1){clear:left;}
    .col-lg-2:nth-child(6n+1){clear:left;}
    .col-lg-3:nth-child(4n+1){clear:left;}
    .col-lg-4:nth-child(3n+1){clear:left;}
    .col-lg-6:nth-child(2n+1){clear:left;}
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}
